<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Фон</title>
    <meta charset="utf-8">
</head>

<!--________________________________________________________________________-->
<!--Установка однотонного фона 16-теричного кода оттенка -->
<body style="background-color: #C0C0C0">
<p>Фон сайта #C0C0C0</p>

<img src="https://wallpaper.forfun.com/fetch/5f/5faacfd52f41d6fd0d35b5decfbd0064.jpeg?download=nature-doroga-gori-les-asfalt-peizazh-131004.jpeg"
    width="200"
    height=auto/>
</body>


<!--&lt;!&ndash;____________________________________________________________________________&ndash;&gt;-->
<!--Помимо 16-теричного кода оттенка можно задать цвет фона в виде ключевого слова или RGB. Пример:-->
<!--<body style="background-color:rgb(51,255,153)">-->
<!--<p>Фон сайта #D3D3D3</p>-->
<!--</body>-->
<!--_________________________________________________________________________________-->


<!--  <title>Масштабирование фона</title>-->

<!--<img src="images3/fon 2.jpg" class=»background» />-->


<!--Copy-->
<!--img.background {-->
<!--min-height: 100%;-->
<!--min-width: 640px;-->
<!--width: 100%;-->
<!--height: auto;-->
<!--position: fixed;-->
<!--top: 0;-->
<!--left: 0;-->
<!--/* Определяется размером картинки */-->
<!--@media screen and (max-width: 640px){-->
<!--img.bg {-->
<!--left: 50%;-->
<!--margin-left: -320px;-->
<!--}-->
<!--}-->
<!--}-->


<!--Фон с помощью контейнера-->
<!--<body>-->
<!--<style>-->
<!--  .container {-->
<!--    background-image: url('C:\Users\USER\Desktop\личное\Обучение python\Сайт HTML/photo11.jpg');-->
<!--    background-size: 50% 50%;-->
<!--  }-->
<!--</style>-->

<!--<div class="container"></div>-->
<!-- </body>-->

<!--    <body>-->
<!--        <img src="fon5.jpg" alt="Картинка 1"/>-->
<!--         width="300"-->
<!--         height=auto/>-->
<!--    </body>-->

<!-- <style>-->
<!--     body{-->
<!--     background:url("https://wallpaper.forfun.com/fetch/5f/5faacfd52f41d6fd0d35b5decfbd0064.jpeg?download=nature-doroga-gori-les-asfalt-peizazh-131004.jpeg")-->
<!--     }-->
<!--     width=100%-->
<!--     height=auto-->
<!--   body {-->
<!--    background: #c7b39b url(images/bg.jpg); /* Цвет фона и путь к файлу */-->
<!--    color: #fff; /* Цвет текста */-->
<!--   }-->
<!--  </style>-->
<!--</head>-->
<!--</body>-->

<!--_____________________________________________________________________________________-->
<!--Вставка картинки пейзаж: горы, дорога-->

<!--<img src="https://wallpaper.forfun.com/fetch/5f/5faacfd52f41d6fd0d35b5decfbd0064.jpeg?download=nature-doroga-gori-les-asfalt-peizazh-131004.jpeg"-->
<!--     width="200"-->
<!--     height=auto/>-->
<!--____________________________________________________________________________________-->

<h1>Быстро и надежно</h1>
<h1>{{ flatpage.title}} </h1>
<hr>
<h1><i>С заботой о вашем грузе.</i></h1>
{{ flatpage.content}}
</body>
</html>
